/* Write your CSS here */
.container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.heading {
  color: white;
  font-size: 32px;
}
.image {
  width: 60%;
}
.button {
  color: white;
  padding: 15px;
  border-radius: 5px;
  min-width: 50px;
  width: 150px;
}
.button1 {
  background-color: #0b69ff;
  border-style: none;
  margin-right: 20px;
}
.button2 {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
